# Ignore everything under this directory
*

# But not these files:

# The file we are writing (obviously):
!/.gitignore

# The Game Logic and the Sprites, Sounds, etc:
!/Classes/**/*
!/Resources/**/*
!/SVGs/**/*
!/TTFs/**/*

# Ignore the binary and text files we auto-generate:
#/Resources/Sprites/**/*

# The cmake configuration file:
!/CMakeLists.txt

# The Android make file and related files (for building the .apk from the command line):
!/proj.android/jni/Android.mk
!/proj.android/jni/Application.mk
!/proj.android/AndroidManifest.xml
!/proj.android/src/org/cocos2dx/cpp/AppActivity.java

# The Android Studio project files
!/proj.android-studio/build.gradle

# The Microsoft Visual Studio solution (win32):
!/proj.win32/*.vcxproj
!/proj.win32/*.vcxproj.filters

# The Microsoft Visual Studio solution (win8.1-univeral):
!/proj.win8.1-universal/App.Shared/*.vcxitems
!/proj.win8.1-universal/App.Shared/*.vcxitems.filters

# The Microsoft Visual Studio solution (win10):
!/proj.win10/App/*.vcxproj
!/proj.win10/App/*.vcxproj.filters

# The Xcode project files:
!/proj.ios_mac/*.xcodeproj/project.pbxproj

# Vim Session and Game Notes:
!last_vim_session.vim
!game_notes
!game_notes.adoc

# Even if they are in subdirectories like the Android.mk and AppActivity.java files above...
!*/
